/* import custom font */
@font-face {
  font-family: "Karla";
  src: url("./assets/fonts/Karla-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@import "tailwindcss";

@theme{
  /* custom colors */
  --color-white: hsla(0, 0%, 100%, 1);
  --color-grey-900: hsla(187, 24%, 22%, 1);
  --color-grey-500: hsla(186, 15%, 59%, 1);
  --color-green-600: hsla(169, 82%, 27%, 1);
  --color-green-200: hsla(148, 38%, 91%, 1);
  --color-red: hsla(0, 66%, 54%, 1);
  
  /* custom font */
  --font-karla: "Karla", sans-serif;
  
  /* customizing default tailwind spacing */
  --spacing: 0.5rem;
  
  /* custom font sizes */
  --text-sm: 1rem;
  --text-md: 1.125rem;
  --text-lg: 2rem;
  
  /* customizing default tailwind line-height */
  --leading-none: 1;
  --leading-normal: 1.5;
  
  /* form max width */
  --form-max: 43.125rem;
}

@layer base {
  /* base font family */
  body{
    @apply font-karla;
  }
  
  fieldset {
    @apply m-0 p-0 border-0 min-w-0;
  }
}

@utility text-input-container{
  @apply flex flex-col gap-1 w-full;
}

@utility label{
  @apply font-normal text-sm leading-normal text-grey-900 after:content-['*'] after:relative after:ml-1 after:text-green-600;
}

@utility input-field{
  @apply px-3 py-1.5 border border-grey-500 rounded-lg font-normal leading-normal text-md text-grey-900;
}

@utility error-message{
  @apply font-normal text-sm leading-normal text-red
}